@model Project

<div class="active border-bottom">
    <br />
    <h3 class="align-content-center">Book Title: @Model.Title</h3>
    <p class="align-content-center">Book ID: @Model.BookKey</p>
    <p>Name of the Author: @Model.Author</p>
    <p>Publisher: @Model.Publisher</p>
    <p>ISBN: @Model.ISBN</p>
    <p>Category: @Model.Category</p>
    <p>Price: $@Model.Price</p>
    <p>Pages: @Model.Pages</p>
</div>
<br />
